@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
    background-image: url(bg2.jpg);
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 70%;
    -webkit-box-shadow: 0px 0px 112px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 112px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 112px -2px rgba(0,0,0,0.75);
    cursor: none;
  
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span {
    color: #000000;
    bottom: 10px;
    position: absolute;
    right: 10px;
    display: none;
    font-size: 20pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    
}

